<!-- <iframe class="vidio-embed" src="https://www.vidio.com/embed/1967433-masa-transisi-anies-himbau-masyarakat-disiplin-protokol-kesehahan?autoplay=false&mute=false&" width="560" height="520" scrolling="no" frameborder="0" allowfullscreen></iframe>
<script src="//static-web-prod-vidio.akamaized.net/assets/javascripts/vidio-embed.js"></script> -->

<!-- <script type="text/javascript" src="/playerAssets/1.6.10/embed.js"></script>
<div style="background-image: url(" https:="" d1z78r8i505acl.cloudfront.net="" poster=""></div>
<video id="shakaVid" style="width: 100%; height: 100%; cursor: pointer;" poster="https://d1z78r8i505acl.cloudfront.net/poster/lbVNGQCHiJbr9.720.jpeg" src="blob:https://d1z78r8i505acl.cloudfront.net/c0ba35ca-584b-40ff-8282-4984ba6422bc"></video>

<script src="https://www.codepolitan.com/shared/modules/course/assets/js/script.js?v=20190516"></script> -->

<!-- <iframe frameborder="0" width="640" height="360" src="https://www.dailymotion.com/embed/video/x7tlf0c" allowfullscreen="" allow="autoplay"></iframe> -->

<iframe src="https://player.vdocipher.com/playerAssets/1.x/vdo/embed/index.html#otp=20160313versASE323H69tQc5zHVBXhfU4RV38N2UlFEDuJwRxCzujBizM2iBnWC&playbackInfo=eyJ2aWRlb0lkIjoiNWZmNDEwMWZjYTZkNGQ1MTgyMTc3NTIxNDU3YWY2MTcifQ==" style="border:0;height:360px;width:640px;max-width:100%" allowFullScreen="true" allow="encrypted-media"></iframe>

teg69n58Zyv10VqU654Vc7y1lEJzJw9NUOJw0x7tovKLr1qpHF2ALURZDlwao4db

5ff4101fca6d4d5182177521457af617